.form-box {
  -fx-spacing: 15;

  -fx-padding: 20px;
}

.form-label {
  -fx-font-weight: bold;
  -fx-font-size: 16px;
}

.form-button {
  -fx-max-width: Infinity;

  -fx-background-color: #000;

  -fx-font-size: 16px;
  -fx-text-fill: #fff;
  -fx-font-weight: bold;
}